#mc_embed_signup{
  background:#fff; 
  clear:left; 
  color: #838383;
  font-size: 14px; }
  
#mc_embed_signup form {
  padding: 0; }

#mc_embed_signup .button {
  background-color: #27ae60; }

  #mc_embed_signup .button:hover {
    background-color: #16a085; }
