@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600);
body {
  font-family: "Open Sans", sans-serif;
  color: #303030; }

a {
  text-decoration: none;
  color: #2ecc71; }
  a:hover {
    color: #27ae60; }

.page {
  max-width: 800px;
  margin: auto; }
