@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600);
body {
  font-family: "Open Sans", sans-serif;
  color: #303030; }

a {
  text-decoration: none;
  color: #27ae60; }
  a:hover {
    color: #16a085; }

h3 {
  font-size: 1.3em; }

.page {
  max-width: 700px;
  padding: 0 8px;
  margin: auto; }

.header {
  text-align: center;
  margin-bottom: 82px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ecf0f1; }
  .header h1.brand {
    font-size: 50px;
    margin-bottom: 2px; }
  .header .punchline {
    color: #838383;
    font-style: italic; }

.footer {
  margin: 56px 0 20px;
  text-align: right; }

.post-container {
  text-align: justify; }
  .post-container h2, .post-container h3 {
    text-align: left; }
  .post-container h2.post-title {
    margin-bottom: 5px; }
  .post-container h2:not(.post-title) {
    padding: 1.666em 0 0; }
  .post-container h3 {
    padding: 1.444em 0 0; }
  .post-container #post-date {
    color: #838383;
    margin-top: 0;
    margin-bottom: 42px;
    font-size: 0.8em; }
  .post-container p {
    margin: 1.5em 0;
    line-height: 1.5em; }
  .post-container img {
    max-width: 90%;
    display: block;
    margin: auto; }
  .post-container blockquote {
    color: #838383; }
    .post-container blockquote p {
      margin: 0.8em 0;
      font-style: italic; }
  .post-container hr {
    margin: 24px 0;
    border-top: 1px solid #dddddd;
    border-right: none;
    border-left: none;
    border-bottom: none; }
  .post-container pre code {
    display: block;
    overflow-x: scroll;
    padding: 16px 10px; }
  .post-container .highlight {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 24px 0; }

.primary-color {
  color: #27ae60; }
