@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600);
body {
  font-family: "Open Sans", sans-serif;
  color: #303030; }

a {
  text-decoration: none;
  color: #2ecc71; }
  a:hover {
    color: #27ae60; }

h3 {
  font-size: 1.3em;
  margin: 0.6em 0; }

.page {
  max-width: 800px;
  margin: auto; }

.header {
  text-align: center;
  margin-bottom: 60px; }
  .header h1.brand {
    margin-bottom: 2px; }
  .header .punchline {
    font-style: italic; }

.footer {
  margin: 40px 0 20px;
  text-align: right; }

.post-container h2 {
  margin-bottom: 36px; }
.post-container p {
  margin: 1.5em 0;
  line-height: 1.5em; }
.post-container img {
  max-width: 90%;
  display: block;
  margin: auto; }
.post-container blockquote {
  color: #838383; }
  .post-container blockquote p {
    margin: 0.8em 0;
    font-style: italic; }
.post-container hr {
  margin: 24px 0;
  border-top: 1px solid #dddddd;
  border-right: none;
  border-left: none;
  border-bottom: none; }

.primary-color {
  color: #2ecc71; }
