// Colors
//
$flat_emerald: #2ecc71
$flat_nephritis: #27ae60

$text-color: #303030
$primary-color: $flat_emerald
$primary-color-darker: $flat_nephritis

// Fonts
//
// Open-Sans, because you know... Open-Sans
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600)
$open-sans: 'Open Sans', sans-serif

body
	font-family: $open-sans
	color: $text-color

a
	text-decoration: none
	color: $primary-color

	&:hover
		color: $primary-color-darker

.page
	max-width: 800px
	margin: auto
