:plain
	---
	layout: default
	title: mokacoding
	---

#home
	.posts
		{% for post in site.posts limit:5 %}
		- # DUPLICATED CODE! HORROR!!!
		.post-wrap
			.post-container
				%h1.post-title
					{{ post.title }}
				.post
					{{ post.content }}

			.post-side
				%p.post-meta
					{{ post.date | date_to_string }}
		{% endfor %}