script(async="true" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-1350647337420416",
 data-ad-slot="4912767686", data-ad-format="auto")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});

