.special-header
  .page
    .row-12
      .col-12
        p
          // - Saving this for later and to avoid a `git revert`
            :markdown
              [What is your biggest struggle right now with building software?](https://goo.gl/forms/lCLlJd9hqCUYoTME2)
          :markdown
            [Available Now: **Test-Driven Development in Swift with SwiftUI and Combine**](https://tddinswift.com?utm_source=mokacoding-site&utm_campaign=coming-soon&utm_medium=sticky-header)
