<!-- Begin Buttondown Signup Form https://buttondown.email -->
<div id="newsletter_embed_signup">
  <h4 class="form_title">Want more of these posts?</h4>
  <p class="form_caption">Subscribe to receive new posts in your inbox.</p>
  <form
    method="post"
    action="https://buttondown.email/api/emails/embed-subscribe/mokagio"
  >
    <p><input type="email" placeholder="Email" name="email" class="email" required /></p>
    <input type="hidden" name="tag" value="mokacoding" />
    <div class="clear"><button type="submit">Sign me up</button></div>
  </form>
</div>
<!-- End Buttondown Signup Form -->
