<!-- Begin Substack Signup Form, via https://substackapi.com/ -->
<div id="newsletter_embed_signup">
  <h4 class="form_title">Want more of these posts?</h4>
  <p class="form_caption">Subscribe to receive new posts in your inbox.</p>
  <div id="custom-substack-embed" style="white-space: nowrap;"></div>

  <script>
    window.CustomSubstackWidget = {
      substackUrl: "mokagio.substack.com",
      placeholder: "me@email.com",
      buttonText: "Sign me up",
      theme: "custom",
      colors: {
        primary: "#27ae60", // button and border, mokacoding green
        input: "#ffffff", // background of the email input
        email: "#303030", // email input text font
        text: "#ffffff", // button text color
      }
    };
  </script>
  <script src="https://substackapi.com/widget.js" async></script>
</div>
<!-- End Buttondown Signup Form -->
