extends page

block contents
  h1
    a(href=baseUrl + path)= "One more step..."

  :markdown
    Thank you for subscribing 😊

    You'll receive an email shortly with the double opt-in.

    _FAQ: Why do I need to double opt-in?_ – Unfortunately, I get a lot of fake signups and other junk that result in high bounce rates when sending out emails. This is a little step against them so that I can keep delivering emails to the folks who actually care.
