extends page

block contents
  div(style="text-align: center")
    h2 Redirecting...

  script(type="text/javascript").
    window.location = "https://event.steptember.org.au/donate/onbehalfof?id=72ce6cf3-4228-4dac-a974-76cbbaf1a228"
