extends page

block contents
  - var post = { path: path, title: title, date: date, updated_at: updated_at, contents: contents, tags: tags, previous: previous, next: next, related: related }
  include _post
