extends page

block contents
  h1
    a(href=baseUrl + path)= "Thanks!"

  :markdown
    Thank you for subscribing 🎉

    You'll receive an email from me shortly with link to useful posts, tools, and resources.
