extends page

block contents
  h1
    a(href="https://mokacoding.com/yow_connected_16.html") YOW! Connected 2016 Resources

  p.
    Here's some links from my talk "Less Conventional Swift" at YOW! Connected 2016.

  ul
    li Slides (TBD)
    li
      a(href="https://github.com/mokagio/PizzaDelivery") Demo app PizzaDelivery source code
    li
      a(href="https://github.com/mokagio/less-conventional-swift") Slides source code
