<!DOCTYPE html>
<hml>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>{{ page.title }}</title>
    <meta content='widht=device-width' name='viewport'>
    <!-- %link{ :rel => "stylesheet", :href => "/css/syntax.css" } -->
    <!-- %link{ :rel => "stylesheet", :href => "/css/main.css" } -->
    <link href='/css/style.css' rel='stylesheet'>
  </head>
  <body>
    <div class='container'>
      <!-- removeable -->
      <div class='site'>
        <div class='header box'>
          <h1 class='title'>
            <a href='{{ site.name }}'>{{ site.name }}</a>
          </h1>
          <!-- %a.extra{ :href => "/"} home -->
        </div>
        {{ content }}
        <div class='footer'>
          <div class='contact'>
            <p>
              mokagio
              <br>
              trying to be a good software engineer
              <br>
              mokagio42@gmail.com
            </p>
          </div>
          <div class='contact'>
            <p>
              <a href='http://github.com/yourusername/'>http://github.com/mokagio</a>
              <br>
              <a href='http://twitter.com/mokagio/'>@mokagio</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</hml>
