---
layout: default
---
<div class='post-container'>
  <h1 class='post-title'>
    <a href='{{ site.url}}{{ page.url }}'>{{ page.title }}</a>
  </h1>
  <div class='post'>
    {{ content }}
  </div>
  <hr>
  <div class='cleafix'>
    <div class='float-right'>
      {{ page.date | date_to_string }}
    </div>
    <a class='twitter-share-button' data-size='large' data-text='{{ page.title }} #mokacoding' data-url='http://mokacoding.com{{ site.url }}{{ page.url }}' href='https://twitter.com/share'>
      Tweet
    </a>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
  </div>
</div>
