:plain
	---
	layout: default
	---

.post-container
	%h1.post-title
		%a{ :href => "{{ site.url}}{{ page.url }}" } {{ page.title }}
	.post
		{{ content }}
	
	%hr
	
	.cleafix
		.float-right
			{{ page.date | date_to_string }}
