:plain
	---
	layout: default
	---

.post-container
	%h1.post-title
		%a{ :href => "{{ site.baseurl}}{{ page.url }}" } {{ page.title }}
	.post
		{{ content }}
	
	%hr
	
	%p.post-meta
		{{ page.date | date_to_string }}
